#game {
    z-index: 10;
    position: relative;
    touch-action: none;
    /* Direct all pointer events to JavaScript code. */
}

#wrongRotation {
    display: none;
    z-index: 20;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
}

#wrongRotation img {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#menu {
    position: fixed;
}

@font-face {
    font-family: 'gameFont';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fnt/sylfaen.ttf') format('truetype');
}